$sakuraDarker: #7d7069;
$sakuraDark: #d8c6bc;
$sakuraLightDark: #E8D3D1;
$sakuraPink: #FEEEED;
$sakuraLightPink: #FCF5F7;
$test:#b84bd9bc;
$textColor:#594236;

// scss-docs-start theme-color-variables
$primary:       $sakuraDark !default;
$secondary:     $sakuraPink !default; 

// scss-docs-end theme-color-variables

// 將 SCSS 變數導出為 CSS 變數
:root{
    --sakuraDarker:#{$sakuraDarker};
    --sakuraDark:#{$sakuraDark};
    --sakuraLightDark: #{$sakuraLightDark};
    --sakuraPink: #{$sakuraPink};
    --sakuraLightPink: #{$sakuraLightPink};
    --textColor:#{$textColor};

}